@model Category

<form method="post">
    <div class="">
        <div class="card-header bg-primary bg-gradient py-3 my-3">
            <div class="row pb-2">
                <h2 class="text-white  text-md-center">  Create Category  </h2>
            </div>
        </div>
      
        <div class="mb-3">
            <label asp-for="Name">    </label> 
            <input asp-for="Name"  class="form-control">
            <span asp asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder">      </label>
            <input asp-for="DisplayOrder" class="form-control">
            <span asp asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>   

        <div class="row">
            <div class="col-6">        
                <button type="submit" class="btn btn-primary form-control" > Create</button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary  form-control" > Back To list</a>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}